* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000;
}

.background {
    background-repeat: no-repeat;
    height: auto;
    background-image: url(./image/Become_a_seller_e569445b75.webp);
}

.become {
    position: relative;
    margin-left: 4vw;
    padding-top: 10vw;
    font-size: 50px;
    color: white;
}

.p1 {
    position: relative;
    margin-left: 4vw;
    color: white;
    font-size: 20px;
}


.be-seller-btn {
    color: white;
    background-color: rgba(255, 102, 0, 0.979);
    margin-left: 4vw;
    width: 18vw;
    height: 3.5vw;
    border: none;
    border-radius: 3px;
}

.be-seller-btn:hover {
    background-color: rgba(255, 68, 0, 0.89);
    border: 1px solid lightskyblue;
}

.img2 {
    margin-top: 2.6vw;
    margin-left: 2.7vw;
    position: relative;
    height: 5vw;
    width: 5vw;
}

.h2 {
    margin-top: 2.5vw;
    text-align: center;
    color: rgba(4, 10, 4, 0.795);
}

.h3 {
    color: rgba(4, 10, 4, 0.795);
    margin-left: 6.5vw;
}

.box1 {
    height: auto;
    width: 40%;
    margin-left: 3.4vw;
}


.box2 {
    background-color: #f2f2f2;
    height: 10vw;
    width: 10vw;
    margin-left: 5vw;
    margin-top: 1vw;
    border-radius: 5vw;

}

.box-3 {
    background-color: #f2f2f2;
    height: 10vw;
    width: 10vw;
    margin-left: 15vw;
    margin-top: 8vw;
    border-radius: 5vw;

}

.top1 {
    color: rgba(4, 10, 4, 0.795);
    font-size: large;
    text-align: center;
    margin-top: 1vw;
}

.ptag {
    text-align: center;
    font-size: medium;
}

.box {
    background-color: #f2f2f2;
    height: 30vw;
}

.box3 {
    height: 12vw;
    width: 24vw;
    margin-top: 9vw;
    border-left: 1px dotted rgba(0, 0, 0, 0.712);
}

.bold {
    font-size: 5vw;
    color: rgba(255, 102, 0, 0.979);
    text-align: center;
}

.cbold {

    color: rgba(4, 10, 4, 0.795);
    text-align: center;

}

.butt {
    width: 12vw;
    height: 3vw;
    margin-left: 44vw;
    border-radius: 4px;
}

.div-1 {
    width: 46vw;
    height: auto;
    margin-left: 4vw;
    margin-bottom: 1vw;

}

.div-5 {
    width: 46vw;
    height: auto;
    margin-top: 8.5vw;


}

.div-2 {
    width: 46vw;
    height: auto;
    margin-right: 4vw;

}

.div-4 {
    width: 46vw;
    height: auto;


}

.img {
    height: auto;
    width: 46vw;
}

.p-2 {
    margin-left: 6vw;


}

.div-6 {
    margin-left: 6.5vw;

}

a {
    text-decoration: none;
    color: rgba(4, 10, 4, 0.795);
}

a:hover {
    color: rgba(4, 10, 4, 0.795);


}

.learn {
    margin-left: 6.5vw;
    margin-top: .2vw;
    width: 95px;
    border: 1px solid rgba(4, 10, 4, 0.795);

}

.div-3 {
    margin-top: 8.5vw;
}

.div-8 {
    margin-top: 4vw;
    margin-left: 15vw;
}

.div-7 {
    height: auto;
    margin-top: 6vw;
    background-color: #00394D;
}

.butt {
    width: 20vw;
    height: auto;
    margin-left: 40%;
}

.up-button {
    height: auto;
}

.bainear {
    height: auto;
    width: 48vw;
    margin-bottom: 3vw;

}

.main-bainear {
    background-color: #2264dd;


}

.bainear p {
    margin-left: 4vw;
    font-size: x-large;
}

.bainear span {
    margin-left: 9vw;
    color: #f2f2f2;
}

.bainear-2 span {
    margin-left: 9vw;
    color: #f2f2f2;
}



.bainear-2 p {
    margin-left: 4vw;
    font-size: x-large;
}

.bainear img {
    margin-left: 15vw;
    margin-top: 5vw;
}


.bainear-2 {
    height: auto;
    width: 50vw;
    margin-bottom: 3vw;
}

.bainear-2 img {
    margin-left: 15vw;
    margin-top: 5vw;
}

.our-payment {
    display: flex;
    list-style: none;
}

.our-payment-link-1 {
    width: auto;
    height: auto;
    text-align: center;
   padding: 1vw 2vw 1vw 2vw;
    border-top: solid 1px rgba(128, 128, 128, 0.692);
    border-left: solid 1px rgba(128, 128, 128, 0.692);
    border-right: solid 1px rgba(128, 128, 128, 0.692);
    border-radius: 5px;
}

.our-payment-link {
    width: auto;
    height: auto;
    background-color: whitesmoke;
    text-align: center;
    padding: 1vw 4vw 1vw 4vw;
    border-radius: 5px;
    border-top: solid 1px rgba(128, 128, 128, 0.692);
    border-left: solid 1px rgba(128, 128, 128, 0.692);
    border-right: solid 1px rgba(128, 128, 128, 0.692);
}

.ac {
    text-decoration: none;
    color: blue;

}

.main-payment {
    margin-left: 34%;
}

.main-payment ul li {
    color: rgba(4, 10, 4, 0.795);
}

.division {
    width: 50%;
}

.division-1 {
    width: 50%;
}

.commission-structure-button-1 {
    margin-left: 3.5vw;

    margin-top: 5vw;
    height: 2.9vw;
    width: 12vw;
    border: 1px solid black;

}

.commission-structure-button {
    margin-top: 5vw;
    margin-left: 3.5vw;
    height: 2.9vw;
    border: none;
    width: 12vw;
    background-color: #00394D;
    color: #f2f2f2;

}


.payment-div ul li {
    margin-left: 5vw;
    list-style-type: square;
}

.payment-div h4 {
    color: rgba(4, 10, 4, 0.795);
}



@media screen and (max-width: 1002px){
   .our-payment{
       margin-left: -12%;
       width: 100%;
   }
}
@media screen and (max-width: 750px) {
    .trade-contant {
        display: block !important;
        width: 100%;
    }

    .box1 {
        width: 45%;
    }

    .box2 {
        width: 20vw;
        height: 20vw;
        margin-left: 28%;
        border-radius: 16vw;
    }

    .bold {
        font-size: 13vw;
    }

    .cbold {
        font-size: 7vw;
    }

    .bold {
        font-size: 13vw;
    }

    .img2 {
        margin-top: 4.6vw;
        margin-left: 25%;
        width: 10vw;
        height: 10vw;
    }

    .div-8-img {
        width: 12%;
    }

    .box-ratio {
        display: block !important;
        height: auto;
    }

    .box {
        height: auto;
    }

    .box3 {
        border-left: none;
        border-bottom: none;
        margin-top: 10%;
        width: 100%;
        height: auto;
    }

    .up-button {
        width: 40%;
        height: auto;
        margin-left: 30%;
    }

    .butt {
        width: 35vw;
        height: auto;
        margin-left: 32%;
    }

    .work-tradecarvan {
        display: block !important;
    }

    .img {
        width: 94vw;
        margin-left: -1%;
        height: auto;
        margin-bottom: 2vw;
    }

    .div-1 {
        width: 94%;
        height: auto;
    }

    .div-3 {
        margin-top: -38%;
    }

    .div-2 {
        width: 94vw;
        margin-left: -1%;
        height: auto;
    }

    .div-5 {
        width: 94vw;
        margin-left: -1%;
        height: auto;
    }

    .bainear {
        width: 96vw;
        width: auto;
    }

    .bainear-2 {
        width: 96vw;
        margin-bottom: 0%;
    }

    .main-bainear {
        display: block !important;
        width: 100%;
    }

    .bainear img {
        margin-left: 38%;
    }

    .bainear-2 img {
        margin-left: 38%;
    }

    .division {
        width: 96%;
    }

    .division-1 {
        width: 96%;
        margin-left: 7%;
    }
    .payment-ul{
        margin-left: 8%;
    }
 
}

@media screen and (max-width: 645px) {
     .our-payment{
         margin-left: -23%;
     }
}

@media screen and (max-width: 411px) {
    .trade-contant-2 {
        display: block !important;
    }

    .box1 {
        width: 92%;
        margin-left: 4%;
    }

    .box2 {
        width: 40vw;
        height: 40vw;
        border-radius: 28vw;
        margin-left: 29%;
    }

    .img2 {
        margin-top: 8.6vw;
        margin-left: 23%;
        width: 24vw;
        height: 24vw;
    }

    .up-button {
        width: 60%;
        height: auto;
        margin-left: 20%;
    }

    .p-5 {
        color: white;
        font-size: 1.6vw;
    }

    .p-6 {
        color: gray;
        margin-top: -4vw;
        text-align: center;
    }

    .bainear-2 img {
        margin-left: 30%;
    }

    .bainear img {
        margin-left: 30%;
    }
    .our-payment{
        width: 100%;
        margin-left: -24%;
    }

}